
i.material-icons {
    vertical-align: middle;
    display: inline-flex;
    color: rgb(255, 255, 255);
}

.eve
{
    color :rgb(151, 54, 146);
    font-size: xx-large;
    font-family: Helvetica;
}
p{
    font-size: medium;
}

