
    .row2
    {
        background-color: rgb(226, 198, 201);
        color :rgb(141, 13, 13);
    } 
    .red 
    {
      color :rgb(141, 13, 13);
    } 
    
  .material-icons.md-19 { font-size: 20px ; color:rgb(135, 134, 138);}
   
